<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rkrzmail.oto">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".modules.primary.DetailKontrolBooking_Activity"></activity>
        <activity android:name=".modules.layanan.TambahLayanan" />
        <activity android:name=".modules.komisi.AturKomisiPart_Activity" />
        <activity android:name=".modules.komisi.KomisiPart_Activity" />
        <activity android:name=".modules.pembayaran.AturPembayaranElektronik_Activity" />
        <activity android:name=".modules.pembayaran.PembayaranElektronik_Activity" />
        <activity android:name=".modules.sparepart.lokasi_part.stock_opname.HistoryStockOpname_Activity" />
        <activity android:name=".modules.sparepart.DetailCariPart_Activity" />
        <activity android:name=".modules.hutang.PembayaranHutang_Activity" />
        <activity android:name=".modules.hutang.Hutang_Activity" />
        <activity android:name=".modules.hutang.PembayaranPiutang_Activity" />
        <activity android:name=".modules.hutang.DetailPiutang_Activity" />
        <activity android:name=".modules.hutang.Piutang_Activity" />
        <activity android:name=".modules.LocationPicker_Activity" />
        <activity android:name=".modules.sparepart.tugas_part.StatusTugasPart_Activity" />
        <activity android:name=".modules.message.ManualMessage_Activity" />
        <activity android:name=".modules.message.Message_Activity" />
        <activity android:name=".modules.antar_jemput.SerahTerima_Activity" />
        <activity android:name=".modules.antar_jemput.ChecklistAntarJemput_Activity" />
        <activity android:name=".modules.antar_jemput.InformasiAntarJemput_Activity" />
        <activity android:name=".modules.antar_jemput.AntarJemput_Activity" />
        <activity android:name=".modules.menunggu.AturOutSource_Activity" />
        <activity android:name=".modules.menunggu.OutSource_Activity" />
        <activity android:name=".modules.inspection.InspectionFinal_Activity" />
        <activity android:name=".modules.collection.CashCollection_Activity" />
        <activity android:name=".modules.collection.Collection_Activity" />
        <activity android:name=".modules.menunggu.UpdatePartKosong_Activity" />
        <activity android:name=".modules.menunggu.StatusPartKosong_Activity" />
        <activity android:name=".modules.menunggu.MenungguPart_Activity" />
        <activity android:name=".modules.sparepart.terima_part.DetailTerimaPart_Activity" />
        <activity android:name=".modules.primary.checkout.AturCheckout_Activity" />
        <activity android:name=".modules.primary.checkout.CheckOut_Activity" />
        <activity android:name=".modules.perintah_kerja_mekanik.PointLayanan_Activity" />
        <activity android:name=".modules.sparepart.tugas_part.JumlahPart_TugasPart_Activity" />
        <activity android:name=".modules.perintah_kerja_mekanik.DetailKerjaMekanik_Activity" />
        <activity android:name=".modules.perintah_kerja_mekanik.PerintahKerjaMekanik_Activity" />
        <activity android:name=".modules.pembayaran.AturPembayaran_Activity" />
        <activity android:name=".modules.pembayaran.RincianPembelian_Activity" />
        <activity android:name=".modules.pembayaran.RincianLayanan_Activity" />
        <activity android:name=".modules.pembayaran.DaftarPembayaran_Activity" />
        <activity android:name=".modules.primary.DetailKontrolLayanan_Activity" />
        <activity android:name=".modules.primary.KontrolLayanan_Activity" />
        <activity android:name=".modules.primary.checkin.Checkin4_Activity" />
        <activity android:name=".modules.primary.HistoryBookingCheckin_Activity" />
        <activity android:name=".modules.jasa.BiayaJasa_Activity" />
        <activity android:name=".modules.jasa.JasaLainBerkala_Activity" />
        <activity android:name=".modules.jasa.JasaLain_Activity" />
        <activity android:name=".modules.sparepart.new_part.JumlahHargaPart_Activity" />
        <activity android:name=".modules.sparepart.new_part.Part_Activity" />
        <activity android:name=".modules.sparepart.new_part.PartBerkala_Activity" />
        <activity android:name=".modules.primary.checkin.Checkin3_Activity" />
        <activity android:name=".modules.primary.checkin.Checkin2_Activity" />
        <activity android:name=".modules.primary.checkin.Checkin1_Activity" />
        <activity android:name=".modules.sparepart.tugas_part.TugasPart_Activity" />
        <activity android:name=".modules.profile.ProfileBengkel_Activity" />
        <activity android:name=".modules.sparepart.part_keluar.PengisianPartKeluar_Activity" />
        <activity android:name=".modules.sparepart.part_keluar.PartKeluar_Activity" />
        <activity android:name=".modules.sparepart.DaftarJualPart_Activity" />
        <activity android:name=".modules.sparepart.DetailJualPart_Activity" />
        <activity android:name=".modules.sparepart.AturPenjualanPart_Activity" />
        <activity android:name=".modules.sparepart.PenjualanPart_Activity" />
        <activity android:name=".modules.discount.AturFrekwensiDiscount_Acitivity" />
        <activity android:name=".modules.discount.FrekwensiDiscount_Activity" />
        <activity android:name=".modules.registrasi_bengkel.ReferensikanOtomotives_Activity" />
        <activity android:name=".modules.registrasi_bengkel.Referal_Activity" />
        <activity android:name=".modules.registrasi_bengkel.RegistrasiBengkel_Activity" />
        <activity android:name=".modules.user.AturUser_Activity" />
        <activity android:name=".modules.user.User_Activity" />
        <activity android:name=".modules.primary.KontrolBooking_Activity" />
        <activity android:name=".modules.komisi.AturKomisiJasaLain_Activity" />
        <activity android:name=".modules.komisi.KomisiJasaLain_Activity" />
        <activity android:name=".modules.komisi.AturKomisiLayanan_Activity" />
        <activity android:name=".modules.komisi.KomisiLayanan_Activity" />
        <activity android:name=".modules.jasa.discount_jasa_lain.AturDiscountJasaLain_Activity" />
        <activity android:name=".modules.jasa.discount_jasa_lain.DiscountJasaLain_Activity" />
        <activity android:name=".modules.layanan.discount_layanan.AturDiscountLayanan_Activity" />
        <activity android:name=".modules.layanan.discount_layanan.DiscountLayanan_Activity" />
        <activity android:name=".modules.layanan.DeskripsiLayanan_Activiy" />
        <activity android:name=".modules.rekening_bank.AturRekening_Activity" />
        <activity android:name=".modules.rekening_bank.RekeningBank_Activity" />
        <activity android:name=".modules.sparepart.diskon_part.AturDiscountPart_Activity" />
        <activity android:name=".modules.sparepart.diskon_part.DiscountPart_Activity" />
        <activity android:name=".modules.discount.AturSpotDiscount_Activity" />
        <activity android:name=".modules.discount.SpotDiscount_Activity" />
        <activity android:name=".modules.primary.booking.Booking3_Activity" />
        <activity android:name=".modules.primary.booking.Booking2_Activity" />
        <activity android:name=".modules.primary.booking.Booking1B_Activity" />
        <activity android:name=".modules.primary.booking.Booking1A_Activity" />
        <activity android:name=".modules.tenda.AturTenda_Activity" />
        <activity android:name=".modules.tenda.Tenda_Activity" />
        <activity android:name=".modules.sparepart.CariPart_Activity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".modules.layanan.AturLayanan_Activity" />
        <activity android:name=".modules.layanan.Layanan_Avtivity" />
        <activity android:name=".modules.jurnal.PembayaranJurnal_Activity" />
        <activity android:name=".modules.jurnal.AturJurnal_Activity" />
        <activity android:name=".modules.jurnal.DaftarJurnal_Activity" />
        <activity android:name=".modules.sparepart.lokasi_part.Penyesuain_Activity" />
        <activity android:name=".modules.sparepart.lokasi_part.stock_opname.StockOpname_Activity" />
        <activity android:name=".modules.sparepart.terima_part.TerimaPart" />
        <activity android:name=".modules.sparepart.lokasi_part.AturLokasiPart_Activity" />
        <activity android:name=".modules.sparepart.terima_part.AturTerimaPart" />
        <activity android:name=".modules.sparepart.terima_part.DetailPartDiterima" />
        <activity android:name=".modules.biayamekanik.AturBiayaMekanik2" />
        <activity android:name=".modules.biayamekanik.BiayaMekanik2Activity" />
        <activity android:name=".modules.sparepart.Spareparts_Activity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value="com.rkrzmail.oto.modules.lokasi_part.CariPart_Activity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.sparepart.AturParts_Activity" />
        <activity android:name=".gmod.PengambilanPartActivity" />
        <activity android:name=".gmod.DaftarTugasPartActivity" />
        <activity android:name=".gmod.JumlahPartActivity" />
        <activity android:name=".gmod.JasaLainActivity" />
        <activity android:name=".gmod.JasaLainDetail" />
        <activity android:name=".gmod.JasaLainBerkalaActivity" />
        <activity android:name=".gmod.PartBerkalaActivity" />
        <activity android:name=".gmod.AturSparepartActivity" />
        <activity android:name=".gmod.AturBiayaMekanikActivity" />
        <activity android:name=".gmod.Penampung_ItemActivity" />
        <activity android:name=".gmod.Lokasi_PersediaanActivity" />
        <activity android:name=".gmod.PenjualanPartActivity" />
        <activity android:name=".gmod.Penerimaan_PartAcitivity" />
        <activity android:name=".gmod.Part_DiterimaActivity" />
        <activity android:name=".gmod.Stock_OpnameActivity" />
        <activity android:name=".gmod.Penampung_Item_DetailActivity" />
        <activity android:name=".modules.penugasan.AturPenugasan_Activity" />
        <activity android:name=".modules.sparepart.lokasi_part.LokasiPart_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.penugasan.PenugasanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.CheckinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.DaftarkanPelayananActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.BarcodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.part.PartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.part.PartSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.part.PartFavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.LayananActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.LayananFilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.PendaftaranLayananActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.HistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.PartDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.Capture"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".gmod.BarcodeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gmod.Update"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.MessageWA"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.ControlLayanan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.KendaraanCari"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.PersetujuanLayanan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.Pendaftaran1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.Pendaftaran2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.Pendaftaran3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.SparepartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.BiayaMekanikActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.DaftarPenjualanPartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name="com.rkrzmail.srv.OtoReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="com.nikita.generator.service" />
                <action android:name="com.rkrzmail.toms.service" />
                <action android:name="com.nikita.generator.service" />
            </intent-filter>
        </receiver>

        <service android:name="com.rkrzmail.fcm.FCMMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.rkrzmail.fcm.FCMInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>