<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rkrzmail.oto">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/speed"
        android:label="Bengkel Pro"
        android:roundIcon="@drawable/speed"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute"
        tools:replace="android:label">
        <activity android:name=".modules.sparepart.Status_PartKosong_Activity"></activity>
        <activity android:name=".modules.checkin.TambahPartJasaDanBatal_Activity" />
        <activity android:name=".modules.sparepart.AturPartKeluar_Activity" />
        <activity android:name=".modules.sparepart.DetailPartKeluar_Activity" />
        <activity android:name=".modules.Otp_Activity" />
        <activity android:name=".modules.checkin.DetailKontrolBooking_Activity" />
        <activity android:name=".modules.bengkel.TambahLayanan" />
        <activity android:name=".modules.komisi.AturKomisiPart_Activity" />
        <activity android:name=".modules.komisi.KomisiPart_Activity" />
        <activity android:name=".modules.bengkel.AturPembayaranElektronik_Activity" />
        <activity android:name=".modules.bengkel.PembayaranElektronik_Activity" />
        <activity android:name=".modules.sparepart.HistoryStockOpname_Activity" />
        <activity android:name=".modules.sparepart.DetailCariPart_Activity" />
        <activity android:name=".modules.hutang.PembayaranHutang_Activity" />
        <activity android:name=".modules.hutang.Hutang_Activity" />
        <activity android:name=".modules.hutang.PembayaranPiutang_Activity" />
        <activity android:name=".modules.hutang.DetailPiutang_Activity" />
        <activity android:name=".modules.hutang.Piutang_Activity" />
        <activity android:name=".modules.LocationPicker_Activity" />
        <activity android:name=".modules.sparepart.Status_TugasPart_Activity" />
        <activity android:name=".modules.bengkel.ManualMessage_Activity" />
        <activity android:name=".modules.bengkel.Message_Activity" />
        <activity android:name=".modules.antar_jemput.SerahTerima_Activity" />
        <activity android:name=".modules.antar_jemput.ChecklistAntarJemput_Activity" />
        <activity android:name=".modules.antar_jemput.InformasiAntarJemput_Activity" />
        <activity android:name=".modules.antar_jemput.AntarJemput_Activity" />
        <activity android:name=".modules.sparepart.AturOutSource_Activity" />
        <activity android:name=".modules.sparepart.OutSource_Activity" />
        <activity android:name=".modules.mekanik.InspectionFinal_Activity" />
        <activity android:name=".modules.bengkel.CashCollection_Activity" />
        <activity android:name=".modules.bengkel.Collection_Activity" />
        <activity android:name=".modules.sparepart.UpdatePartKosong_Activity" />
        <activity android:name=".modules.sparepart.MenungguPart_Activity" />
        <activity android:name=".modules.sparepart.DetailTerimaPart_Activity" />
        <activity android:name=".modules.checkin.AturCheckout_Activity" />
        <activity android:name=".modules.checkin.CheckOut_Activity" />
        <activity android:name=".modules.mekanik.PointLayanan_Activity" />
        <activity android:name=".modules.sparepart.JumlahPart_TugasPart_Activity" />
        <activity android:name=".modules.mekanik.DetailKerjaMekanik_Activity" />
        <activity android:name=".modules.mekanik.PerintahKerjaMekanik_Activity" />
        <activity android:name=".modules.bengkel.AturPembayaran_Activity" />
        <activity android:name=".modules.bengkel.RincianPembelian_Activity" />
        <activity android:name=".modules.bengkel.RincianLayanan_Activity" />
        <activity android:name=".modules.bengkel.DaftarPembayaran_Activity" />
        <activity android:name=".modules.checkin.DetailKontrolLayanan_Activity" />
        <activity android:name=".modules.checkin.KontrolLayanan_Activity" />
        <activity android:name=".modules.checkin.Checkin4_Activity" />
        <activity android:name=".modules.checkin.HistoryBookingCheckin_Activity" />
        <activity android:name=".modules.jasa.BiayaJasa_Activity" />
        <activity android:name=".modules.jasa.JasaLainBerkala_Activity" />
        <activity android:name=".modules.jasa.JasaLain_Activity" />
        <activity android:name=".modules.sparepart.JumlahPart_HargaPart_Activity" />
        <activity android:name=".modules.sparepart.Part_Activity" />
        <activity android:name=".modules.sparepart.PartBerkala_Activity" />
        <activity android:name=".modules.checkin.Checkin3_Activity" />
        <activity android:name=".modules.checkin.Checkin2_Activity" />
        <activity android:name=".modules.checkin.Checkin1_Activity" />
        <activity android:name=".modules.sparepart.TugasPart_MainTab_Activity" />
        <activity android:name=".modules.bengkel.ProfileBengkel_Activity" />
        <activity android:name=".modules.sparepart.JumlahPart_PartKeluar_Activity" />
        <activity android:name=".modules.sparepart.PartKeluar_Activity" />
        <activity android:name=".modules.sparepart.DaftarJualPart_Activity" />
        <activity android:name=".modules.sparepart.DetailJualPart_Activity" />
        <activity android:name=".modules.sparepart.AturPenjualanPart_Activity" />
        <activity android:name=".modules.sparepart.PenjualanPart_Activity" />
        <activity android:name=".modules.discount.AturFrekwensiDiscount_Acitivity" />
        <activity android:name=".modules.discount.FrekwensiDiscount_Activity" />
        <activity android:name=".modules.bengkel.ReferensikanOtomotives_Activity" />
        <activity android:name=".modules.bengkel.Referal_Activity" />
        <activity android:name=".modules.bengkel.RegistrasiBengkel_Activity" />
        <activity android:name=".modules.bengkel.AturUser_Activity" />
        <activity android:name=".modules.bengkel.User_Activity" />
        <activity android:name=".modules.checkin.KontrolBooking_Activity" />
        <activity android:name=".modules.komisi.AturKomisiJasaLain_Activity" />
        <activity android:name=".modules.komisi.KomisiJasaLain_Activity" />
        <activity android:name=".modules.komisi.AturKomisiLayanan_Activity" />
        <activity android:name=".modules.komisi.KomisiLayanan_Activity" />
        <activity android:name=".modules.discount.AturDiscountJasaLain_Activity" />
        <activity android:name=".modules.discount.DiscountJasaLain_Activity" />
        <activity android:name=".modules.discount.AturDiscountLayanan_Activity" />
        <activity android:name=".modules.discount.DiscountLayanan_Activity" />
        <activity android:name=".modules.bengkel.DeskripsiLayanan_Activiy" />
        <activity android:name=".modules.bengkel.AturRekening_Activity" />
        <activity android:name=".modules.bengkel.RekeningBank_Activity" />
        <activity android:name=".modules.discount.AturDiscountPart_Activity" />
        <activity android:name=".modules.discount.DiscountPart_Activity" />
        <activity android:name=".modules.discount.AturSpotDiscount_Activity" />
        <activity android:name=".modules.discount.SpotDiscount_Activity" />
        <activity android:name=".modules.checkin.Booking3_Activity" />
        <activity android:name=".modules.checkin.Booking2_Activity" />
        <activity android:name=".modules.checkin.Booking1B_Activity" />
        <activity android:name=".modules.checkin.Booking1A_Activity" />
        <activity android:name=".modules.bengkel.AturTenda_Activity" />
        <activity android:name=".modules.bengkel.Tenda_Activity" />
        <activity android:name=".modules.sparepart.CariPart_Activity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".modules.bengkel.AturLayanan_Activity" />
        <activity android:name=".modules.bengkel.Layanan_Avtivity" />
        <activity android:name=".modules.bengkel.PembayaranJurnal_Activity" />
        <activity android:name=".modules.bengkel.AturJurnal_Activity" />
        <activity android:name=".modules.bengkel.DaftarJurnal_Activity" />
        <activity android:name=".modules.sparepart.Penyesuain_Activity" />
        <activity android:name=".modules.sparepart.AturStockOpname_Activity" />
        <activity android:name=".modules.sparepart.TerimaPart" />
        <activity android:name=".modules.sparepart.AturLokasiPart_Activity" />
        <activity android:name=".modules.sparepart.AturTerimaPart" />
        <activity android:name=".modules.sparepart.DetailPartDiterima" />
        <activity android:name=".modules.mekanik.AturBiayaMekanik2" />
        <activity android:name=".modules.mekanik.BiayaMekanik2Activity" />
        <activity android:name=".modules.sparepart.Spareparts_Activity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value="com.rkrzmail.oto.modules.lokasi_part.CariPart_Activity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.sparepart.AturParts_Activity" />
        <activity android:name=".gmod.PengambilanPartActivity" />
        <activity android:name=".gmod.DaftarTugasPartActivity" />
        <activity android:name=".gmod.JumlahPartActivity" />
        <activity android:name=".modules.jasa.JasaExternal_Activity" />
        <activity android:name=".gmod.JasaLainDetail" />
        <activity android:name=".gmod.JasaLainBerkalaActivity" />
        <activity android:name=".gmod.PartBerkalaActivity" />
        <activity android:name=".gmod.AturSparepartActivity" />
        <activity android:name=".gmod.AturBiayaMekanikActivity" />
        <activity android:name=".gmod.Penampung_ItemActivity" />
        <activity android:name=".gmod.Lokasi_PersediaanActivity" />
        <activity android:name=".gmod.PenjualanPartActivity" />
        <activity android:name=".gmod.Penerimaan_PartAcitivity" />
        <activity android:name=".gmod.Stock_OpnameActivity" />
        <activity android:name=".gmod.Penampung_Item_DetailActivity" />
        <activity android:name=".gmod.MyCode" />
        <activity android:name=".modules.mekanik.AturPenugasan_Activity" />
        <activity android:name=".modules.sparepart.LokasiPart_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.mekanik.PenugasanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.CheckinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.DaftarkanPelayananActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.BarcodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.part.PartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.part.PartSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.part.PartFavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.LayananActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.LayananFilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.PendaftaranLayananActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.PartDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.Capture"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".gmod.BarcodeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gmod.Update"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.MessageWA"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.ControlLayanan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.KendaraanCari"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.PersetujuanLayanan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.Pendaftaran1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.Pendaftaran2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.Pendaftaran3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.BiayaMekanikActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gmod.DaftarPenjualanPartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFull"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modules.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name="com.rkrzmail.srv.OtoReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="com.nikita.generator.service" />
                <action android:name="com.rkrzmail.toms.service" />
                <action android:name="com.nikita.generator.service" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.rkrzmail.fcm.FCMMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.rkrzmail.fcm.FCMInstanceIDService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>